<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>TP5 SuperHeroes</title>
</head>
<body>
    <nav class="navbar">
        <div class="brand">TP5 SuperHeroes</div>
        <div class="nav-links">
            <a href="/">INICIO</a>
            <a href="/marvel">MARVEL</a>
            <a href="/dc">DC</a>
            <a href="/add" style="color: var(--primary);">+ AGREGAR</a>
        </div>
    </nav>
    <div class="alert-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                <span>{{ message }}</span>
                <button onclick="this.parentElement.style.display='none'" style="background:none; border:none; color:inherit; cursor:pointer; font-weight:900;">X</button>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <input type="text" id="buscador" placeholder="IDENTIFICAR OBJETIVO..." onkeyup="filtrar()">

    <div class="container" id="grid">
        {% for p in personajes %}
        <div class="card" data-name="{{ p.nombre.lower() }}">
            <div class="img-box">
                <img src="{{ url_for('static', filename='image/characters/' + p.imagenes[0]) }}" alt="{{ p.nombre }}">
            </div>
            
            <div class="card-body">
                <h2 class="card-title">{{ p.nombre }}</h2>
                <h3 class="card-subtitle">{{ p.nombreReal }}</h3>
                <p class="card-text">
                    {{ p.biografia }}
                </p>
            </div>
            
            <a href="/detalle/{{ p._id }}" class="btn-main">ABRIR CARTA</a>
        </div>
        {% else %}
        <div style="grid-column: 1/-1; text-align: center; padding: 50px;">
            <h2>No se encontraron registros en la base de datos.</h2>
        </div>
        {% endfor %}
    </div>

    <script>
        function filtrar() {
            let val = document.getElementById('buscador').value.toLowerCase();
            document.querySelectorAll('.card').forEach(c => {
                c.style.display = c.dataset.name.includes(val) ? "flex" : "none";
            });
        }
    </script>
</body>
</html>